<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Котофей Семен</title>
    <link rel="stylesheet" media="all" href="../static/css/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/">Вернуться на сайт</a>
            <h1>Котофей Семен</h1>
        </header>
        <article>
            <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%B6%D0%B5%D1%81%D1%82%D0%BA%D0%BE%D1%88%D1%91%D1%80%D1%81%D1%82%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BE%D1%88%D0%BA%D0%B0" target="_blank"><img src="../static/img/cat.jpg" alt="американский жесткошерстный кот" /></a>
            <p>
                <strong>Привет, я <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%B6%D0%B5%D1%81%D1%82%D0%BA%D0%BE%D1%88%D1%91%D1%80%D1%81%D1%82%D0%BD%D0%B0%D1%8F_%D0%BA%D0%BE%D1%88%D0%BA%D0%B0" target="_blank">американский жесткошерстный кот,</a> а это моя страничка!</strong>
                <br>
                <br>
                На ней я буду публиковать <s>свои стихи и рассказы</s> свой код и ссылки на GitHub.
                <br>
                <br>
                Еще тут вы сможете найти мои рисунки, которые я иногда делаю.
                <br>
                <br>
                Сразу <u>скажу</u>, рисунки у меня <i>так себе</i>, <span class="back_color--light-green"> потому что у меня лапки</span>
            </p>
        </article>
    </div>
</body>
</html>